<h1>Editing Comment</h1>

<%= render 'form', comment: @comment %>

<%= link_to 'Show', edit_post_comment_path(@comment[:id]) %> |
<%= link_to 'Back', posts_path %>
<%= link_to 'Back', comments_path %>
