// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{padding: 60px 80px;}
.welcomeFairtrade{margin-bottom: 10em;}
.btn btn-primary-see-more{color: white;}
.btn btn-primary-purchase{color: white;}
.container-fluid-toppage{width: 60%; margin: 0 auto; margin-bottom: 3em;}
.container-fluid-toppage2{width: 60%; margin: 0 auto; margin-bottom: 6em;}
.post-new-item{margin-bottom: 3em;}
