// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
/*
Ref:
Thanks to:
http://www.jqueryscript.net/layout/Simple-jQuery-Plugin-To-Create-Pinterest-Style-Grid-Layout-Pinterest-Grid.html
*/
.imagfairenoughlogo{height: 50px; width:30%;}

.welcomeFairtrade{margin-bottom: 5em}

.Media-box1 {
  display: flex;
  align-items: flex-start;
  height: 200px;
  width: 200px;
}
.Media-figure-box1 {
  margin-right: 1em;
  height: 100px;
  width: 100px;
}
.Media-body-box1 {
  flex: 1;
}
